@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300");



body {
  padding: 0px;
  margin: 0;
  background-color: #ecf0f3;
  font-family: "Roboto", sans-serif !important;
}


section {
  width: 50%;
  height: 50vh;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 50px 0;
  margin: 0 auto;
}


.card {
  position: relative;
  max-width: 300px;
  height: auto;
  border-radius: 15px;
  margin: 0 auto;
  padding: 10px 10px;
  transition: 0.5s;
  text-align:center;
}
.card:hover {
  transform: scale(1.1);
}
.col-sm-4:nth-child(1) .card,
.col-sm-4:nth-child(1) .card .title .fa {
    background: linear-gradient(-45deg, #d6f768, #4ed3ff);
}
.col-sm-4:nth-child(2) .card,
.col-sm-4:nth-child(2) .card .title .fa {
  background: linear-gradient(-45deg, #e9ece2, #4bc8f1);
}

.card::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  z-index: 1;
  -webkit-transform: skewY(-5deg) scale(1.5);
  transform: skewY(-5deg) scale(1.5);
}
.title .fa {
  color: #fff;
  font-size: 60px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.title h2 {
  position: relative;
  margin: 20px 0 0;
  padding: 0;
  color: #fff;
  font-size: 28px;
  z-index: 2;
}
.price,
.option {
  position: relative;
  z-index: 2;
}
.price h4 {
  margin: 0;
  padding: 20px 0;
  color: #fff;
  font-size: 60px;
}
.option ul {
  margin: 0;
  padding: 0;
}
.option ul li {
  margin: 0 0 10px;
  padding: 0;
  list-style: none;
  color: #fff;
  font-size: 16px;
}
.card a {
  position: relative;
  z-index: 2;
  background: #fff;
  color: black;
  width: 150px;
  height: 40px;
  line-height: 40px;
  border-radius: 40px;
  display: block;
  text-align: center;
  margin: 20px auto 0;
  font-size: 16px;
  cursor: pointer;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.card a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container1 {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.table {
  width: 100%;
  border: 1px solid #eeeeee;
}

.table-header {
  display: flex;
  width: 100%;
  background: linear-gradient(-45deg, #464743, #161616);
  padding: 18px 0;
  border-radius: 5px;
  color: white;
}

.table-row {
  display: flex;
  width: 100%;
  padding: 18px 0;
  border-radius: 5px;
}
.table-row:nth-of-type(odd) {
    color: #090909;
    background-color: #f9f9f9;
}

.table-data,
.header__item {
  flex: 1 1 20%;
  text-align: center;
}

.header__item {
  text-transform: uppercase;
}
.table-content{
  margin-top: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(12, 54, 144, 0.252);
  box-shadow: 0 5px 10px rgba(25, 70, 166, 0.252);

}
